/* * {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(11, 10, 10);
  color: rgb(255, 252, 252);
}

a {
  text-decoration: none;
  color: #F7D354;
  transition: 0.5s;
}
a:hover {
  color: #B8930c;
} */